<div class="container">
<div id="weatherentry">
	<h1>Welcome <%= @user.username %></h1>

	<p>Enter a location and retrieve current weather</p>

	<form action="/weather" method="post">
		<input type="text" name="location[city]"placeholder="City" value="<%= @location.city %>">
		<input type="text" name="location[state]" placeholder="State e.g. IL, CA, FL" value="<%= @location.state %>">
		<input type="hidden" name="location[country]" placeholder="Country" value="USA">
		<input type="hidden" name="location[date]" placeholder="date" value="<%= Time.now.to_i %>">
		<input type="hidden" name="location[user_id]" placeholder="user" value="<%= @user.id %>">
		<input type="submit" value="LookUp Weather">
	</form>
</div>
<div id="main">

	<% if @lastloc != nil %>
	<p><%=@lastloc.city %>,<%=@lastloc.state %> </p>
	<p><%= Time.at(@lastloc.date).strftime("%B %e, %Y at %I:%M %p") %></p>
	<%=@lastloc.latitude %>&deg latitude(&phi;)
	<br>
	<%=@lastloc.longitude %>&deg longitude(&lambda;)
	<br>
</div>

<div id="sidebar">
	<p><%=@weather.temperature %>&deg</p>
	<img src="png/<%=@weather.icon %>.png">
	<%=@weather.icon %>

</div>

<div id="weatherhistory">
<p></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<b><p>Historical Weather</p></b>

	<table>
		<tr>
			<th>Temp.</th>
			<th>Date</th>
		</tr>
		<tr>
			<td><%=@year07temp %>&deg</td>
			<td><%=Time.at(@year07time).strftime("%B, %Y") %></td>
		</tr>
		<tr>
			<td><%=@year00temp %>&deg</td>
			<td><%=Time.at(@year00time).strftime("%B, %Y") %></td>
		</tr>
	</table>

	<br>
<a href="/weatherhistory">Visualize historical weather</a>
	<br>
</div>
	<% end %>
</div>

<div class="credit">
	<a href="http://forecast.io/"><img src="forecast.jpeg" height="42" width="42"></a>
	<h10>Powered by Forecast</h10>
</div>